.homepage{
    display: flex;

    .container{
        background-color: white;
        flex: 6;

        .widgets, .charts{
            display: flex;
            padding: 20px;
            gap: 20px;

            .user{
                background-color: aqua;
            }

        };
        
        
    }
}

.widgets:nth-child(1){
    background-color: rebeccapurple;
}