.attandance{
    display: flex;
    .navAttandance{
        flex: 6;
        .attandanceTable{
            padding: 20px;
            .teacherTable{
                margin-top: 10px;
                width: 70%;
            }
        }
    }
}