.children{
    display: flex;

    .navchildren{
        flex: 6;

        .childrenTable{
            padding: 20px;
            .teacherTable{
                margin-top: 10px;
            }
        }
    }
}