.course{
    display: flex;

    .coursenav{
        flex: 6;

        .tableform{
            padding: 20px;
            .teacherTable{
                margin-top: 10px;
            }
        }
    }
}