.message{
    display: flex;

    .navMessage{
        flex: 6;

        .messageTable{
            padding: 20px;

            .teacherTable{
                margin-top: 10px;
            }
        }

    }
}