.subject{
    display: flex;

    .navSubject{
        flex:6;
        .subjectTable{
            padding: 20px;
            .teacherTable{
                margin-top: 10px;
            }
            .cards{
                margin-top: 10px;
                display:flex;
                gap:50px;
                .card {
                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                    transition: 0.3s;
                    width: 30%;
                    background-color: white;
                  }
                  
                  .card:hover {
                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                  }
                  
                  .container {
                    padding: 2px 16px;
                  }
            }
        }
    }
}