.subject{
    display: flex;

    .navSubject{
        flex:6;
        .subjectTable{
            padding: 20px;
            .teacherTable{
                margin-top: 10px;
            }
        }
    }
}