.teacher{
    display: flex;

    .navTeacher{
        flex:6;
        .dialogbox{
            padding: 20px;

            .teacherTable{
                margin-top: 10px;
            }
        }
    } 
}